<body id="partial">
<div>
<img src="{{this.image_url}}" alt="">
    <a <a href="/beers/beer-{{this.id}}"></a>>{{this.name}}</a> 
 <h3>{{this.tagline}}</h3>
  <p>{{this.description}}</p>

   </div>
</body>